nav{ text-align: center;
     margin-top: px;
background-color: #2019f5;
padding: 10px;}
nav ul {
    list-style: none;
}

nav ul li {display: inline-flex;
margin-right: 30px;}

a {color: white;
text-decoration: none;}
