body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d8d7d8be;
    color: rgb(255, 255, 255);
}

header {
    text-align: center;
    background-color: #2019f5;
    padding: 20px;
    height: 20vh;
}

img {
    height: 150px;
    width: 150px;
}

.logo {
    height: 50px;
    text-align: left;
    width: 50px;
    margin-bottom: 10px;
}

#acceso {
    background-color: #2019f5;
    padding: 50px;
    width: 60%;
    margin: 60px auto;
    border: 20px white;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
}

#atras {
    text-align: left;
}

#logo2 {
    height: 150px;
    width: 150px;

}

footer {
    background-color: #2019f5;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}